In [1]:
import os
import pandas as pd 
import pandas_ta as ta

In [46]:
for filename in os.listdir('Datasets'):
    symbol = filename.split('.')[0]+".NS"
    #print(symbol)
    
    df = pd.read_csv('Datasets/{}'.format(filename))    
    df = df.dropna(subset=['close'])    
    df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-02-01,434.100006,444.500000,430.850006,435.450012,431.427368,1197903
1,2023-02-02,434.000000,440.950012,430.600006,432.850006,428.851379,425003
2,2023-02-03,433.950012,442.000000,426.600006,434.649994,430.634735,1461408
3,2023-02-06,452.000000,476.500000,446.950012,470.149994,465.806793,7081568
4,2023-02-07,470.200012,480.700012,469.000000,479.450012,475.020905,2592361
5,2023-02-08,480.149994,482.250000,468.450012,474.000000,469.621246,2189622
6,2023-02-09,469.700012,480.500000,469.000000,474.399994,470.017548,1144429
7,2023-02-10,473.500000,477.450012,471.750000,473.500000,469.125854,378658
8,2023-02-13,476.850006,476.850006,466.149994,471.450012,467.094818,554984
9,2023-02-14,473.799988,474.899994,467.750000,473.049988,468.679993,638807
10,2023-02-15,470.799988,474.700012,465.899994,469.299988,464.964661,703302
11,2023-02-16,470.000000,480.000000,470.000000,477.299988,472.890747,1319413
12,2023-02-17,477.299988,479.149994,469.450012,470.649994,466.302185,591340
13,2023-02-20,473.350006,473.350006,461.750000,464.450012,460.159485,738655
14,2023-02-21,466.700012,472.299988,463.299988,468.450012,464.122528,693825
15,2023-02-22,467.700012,469.450012,460.100006,464.250000,459.961304,715217
16,2023-02-23,465.649994,469.950012,459.049988,467.850006,463.528076,841905
17,2023-02-24,468.500000,471.649994,461.500000,466.450012,462.140991,892849
18,2023-02-27,466.350006,466.350006,452.200012,456.049988,451.837036,937558
19,2023-02-28,457.399994,467.000000,454.399994,465.799988,461.496979,835580
20,2023-03-01,468.950012,476.000000,463.049988,473.549988,469.175385,1468140
21,2023-03-02,474.000000,476.500000,465.200012,466.750000,462.438202,652769
22,2023-03-03,469.100006,474.649994,468.100006,472.950012,468.580963,708417
23,2023-03-06,475.149994,479.700012,474.100006,476.149994,471.751373,696280
24,2023-03-08,475.000000,479.350006,470.250000,471.450012,467.094818,732954
25,2023-03-09,471.500000,475.399994,467.000000,468.700012,464.370209,551903
26,2023-03-10,469.000000,478.450012,466.049988,474.899994,470.512909,1956817
27,2023-03-13,477.299988,477.299988,461.450012,466.200012,461.893311,764673
28,2023-03-14,466.200012,472.600006,464.100006,470.549988,466.203094,910046
29,2023-03-15,472.500000,476.000000,469.200012,473.399994,469.026764,835882
30,2023-03-16,473.399994,488.299988,470.049988,479.649994,475.219055,1591279
31,2023-03-17,483.500000,486.000000,474.299988,477.350006,472.940308,1061951
32,2023-03-20,472.049988,478.000000,468.850006,476.200012,471.800934,637487
33,2023-03-21,478.600006,480.000000,473.350006,478.350006,473.931061,792636
34,2023-03-22,479.000000,483.700012,473.350006,478.649994,474.228271,904657
35,2023-03-23,479.049988,484.600006,478.350006,482.299988,477.844543,831785
36,2023-03-24,483.500000,487.000000,478.799988,480.700012,476.259369,938602
37,2023-03-27,475.250000,486.600006,475.049988,481.899994,477.448242,843623
38,2023-03-28,481.899994,489.000000,478.200012,484.750000,480.271942,707818
39,2023-03-29,487.100006,493.149994,483.500000,490.350006,485.820221,1275317
40,2023-03-31,490.950012,494.899994,485.049988,491.549988,487.009094,1115333
41,2023-04-03,498.000000,498.000000,489.200012,492.399994,487.851257,708521
42,2023-04-05,488.000000,494.200012,486.000000,493.100006,488.544800,690988
43,2023-04-06,492.000000,497.049988,490.500000,494.149994,489.585083,904248
44,2023-04-10,494.149994,499.799988,492.000000,496.500000,491.913391,969584
45,2023-04-11,496.950012,502.000000,493.750000,501.000000,496.371826,1219186